/* Стили для навигационной панели */
.navbar {
    background-color: #333; /* Цвет фона навигационной панели */
    color: #fff; /* Цвет текста */
  }
  
  .navbar-brand-head {
    font-size: 24px; /* Размер шрифта заголовка */
  }
  
  /* Стили для логотипа */
  .header_logo-img {
    max-width: 100px; /* Максимальная ширина логотипа */
  }
  
  /* Стили для карусели */
  .carousel {
    margin-top: 20px; /* Отступ сверху */
  }
  
  .carousel-inner {
    text-align: center; /* Центрирование содержимого */
  }
  
  .carousel-item img {
    max-width: 100%; /* Изображение занимает максимальную ширину */
  }
  
  /* Стили для карточек */
  .card-group {
    margin-top: 20px; /* Отступ сверху */
  }
  
  .card {
    border: 1px solid #ddd; /* Граница карточки */
    margin: 10px; /* Внешний отступ карточек */
    text-align: center; /* Центрирование текста внутри карточки */
  }
  
  .card-title {
    font-size: 18px; /* Размер шрифта заголовка карточки */
  }
  
  /* Стили для формы поиска */
  .form-control {
    width: 200px; /* Ширина поля ввода поиска */
  }
  
  /* Стили для кнопки поиска */
  .btn-outline-success {
    background-color: #28a745; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
  }
  
  /* Остальные стили могут быть добавлены по необходимости */
  